<article class="bookmark-full">
  <h1 class="bookmark-title"><%= bookmark_full.title %></h1>
  <div class="bookmark-url">
    <%= link_to bookmark_full.url, bookmark_full.url, target: '_blank' %>
  </div>
  <div class="bookmark-meta">
    Posted by <%= bookmark_full.user %>
    on <%= l(bookmark_full.created_at, format: :date_with_time) %>
  </div>
  <div class="bookmark-description">
    <%= bookmark_full.description %>
  </div>
</article>
