<% provide(:page_title, 'Share a Bookmark') %>
<h1>Share a Bookmark</h1>

<%= bootstrap_form_for(@bookmark) do |f| %>
  <%= render 'shared/error_messages', object: @bookmark %>

  <%= f.field :text_field, :title %>

  <%= f.field :url_field, :url, 'URL' %>

  <%= f.field :text_area, :description %>

  <%= f.submit 'Share!' %>
<% end %>
