<article class="bookmark-full">
  <h1 class="bookmark-title">{{ bookmark.title }}</h1>
  <div class="bookmark-url">
    <a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>
  </div>
  <div class="bookmark-meta">
    Posted by {{bookmark.author}}
    on {{bookmark.posted}}
  </div>
  <div class="bookmark-description">
    {{ bookmark.description }}
  </div>
</article>
