<article class="bookmark-teaser">
  <h3 class="bookmark-title">{{{bookmark.link}}}</h3>
  <div class="bookmark-url">
    <a href="{{bookmark.url}}" target="_blank">{{bookmark.url}}</a>
  </div>
  <div class="bookmark-meta">
    Posted by {{bookmark.author}}
    {{bookmark.posted_ago}} ago
  </div>
</article>
