<article class="resource-full">
  <h1 class="resource-title">{{ resource.title }}</h1>
  <div class="resource-url">
    <a href="{{resource.url}}" target="_blank">{{resource.url}}</a>
  </div>
  <div class="resource-meta">
    Posted by {{resource.author}}
    on {{resource.posted}}
  </div>
  <div class="resource-description">
    {{ resource.description }}
  </div>
</article>
