<article class="resource-teaser">
  <h3 class="resource-title">{{{resource.link}}}</h3>
  <div class="resource-url">
    <a href="{{resource.url}}" target="_blank">{{resource.url}}</a>
  </div>
  <div class="resource-meta">
    Posted by {{resource.author}}
    {{resource.posted_ago}} ago
  </div>
</article>
