<article class="resource-teaser" data-id="{{id}}">
  <h3 class="resource-title">
    <a href="#/resources/{{id}}">{{title}}</a>
    {{#if favorite_id}}
      <a href="#" class="js-remove-favorite-btn icon-link"
         title="Remove from favorites">
        <span class="icon-star"></span>
      </a>
    {{else}}
      <a href="#" class="js-add-favorite-btn icon-link"
         title="Add to favorites">
        <span class="icon-star-o"></span>
      </a>
    {{/if}}
  </h3>
  <div class="rating">{{ratingDisplay}}</div>
  <div class="resource-url">
    <a href="{{url}}" target="_blank">{{pretty_url}}</a>
  </div>
  <div class="resource-meta">
    Posted by {{author}}
    {{posted_ago}} ago
  </div>
</article>
