<div class="col-md-1 control-bar-basic" id="js-control-bar-basic">

</div>
<div class="col-md-11 resource-view content-main" id="js-resource-view">
  <div class="row">
    <article class="resource-details col-md-12">
      <h1 class="resource-title">
        {{title}}
      </h1>
      <div class="resource-url">
        <a href="{{url}}" target="_blank">{{pretty_url}}</a>
      </div>
      <div class="resource-meta">
        Posted by {{author}}
        on {{posted}}
      </div>
      <div class="resource-description">
        {{description}}
      </div>
    </article>
  </div>
  <div class="row">
    <div class="col-md-6" id="js-comment-form"></div>
    <div class="col-md-6" id="js-comments-list"></div>
  </div>
</div>


