<div class="col-md-1" id="js-control-bar">

</div>
<div class="col-md-11 resource-view content-main" id="js-resource-view">
  <div class="row">
    <article class="resource-details col-md-12">
      <h1 class="resource-title">
        {{title}}
        {{#if favorite_id}}
          <a href="#" class="favorite-icon js-remove-favorite-btn"
             title="Remove from favorites"></a>
        {{else}}
          <a href="#" class="js-add-favorite-btn icon-link"
             title="Add to favorites">
            <span class="icon-star-o"></span>
          </a>
        {{/if}}
      </h1>
      <div class="vote-controls">
        <a href="#" class="up-vote-btn" id="js-up-vote-btn">
          <span class="sr-only">Cast an up vote for this resource.</span>
        </a>
        <a href="#" class="down-vote-btn" id="js-down-vote-btn">
          <span class="sr-only">Cast a down vote for this resource.</span>
        </a>
      </div>
      <div class="rating" id="js-resource-rating">
        {{rating}}
      </div>
      <div class="resource-url">
        <a href="{{url}}" target="_blank">{{pretty_url}}</a>
      </div>
      <div class="resource-meta">
        Posted by {{author}}
        on {{posted}}
      </div>
      <div class="resource-description">
        {{description}}
      </div>
    </article>
  </div>
  <div class="row">
    <div class="col-md-6" id="js-comment-form"></div>
    <div class="col-md-6 comments-list">
      <h2>Comments</h2>
      <div id="js-comments-list"></div>
    </div>
  </div>
</div>


