<!DOCTYPE html>
<html>
  <head>
    <title>
      <%= yield :page_title %>Heapsort -
      A socially-curated collection of developer resources
    </title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  </head>
  <body>

    <header class="main-header">
      <div class="row">
        <div class="col-md-3">
          <%= image_tag 'header-logo.png', class: 'logo' %>
          <%= link_to 'Heapsort', root_url, class: 'brand-heading' %>
        </div>
        <div class="col-md-9">
          <p class="slogan pull-left">
            A socially-curated collection of web
            development &amp; programming resources
          </p>
          <div class="auth-links pull-right">
            <% if current_user %>
              <%= button_to 'Sign Out', signout_url, method: :delete %>
            <% else %>
              <%= link_to 'Sign In', signin_url %> |
              <%= link_to 'Sign Up', signup_url %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <section class="page-content">

      <div class="messages">
        <% flash.each do |key, value| %>
          <% key = :danger if key == :error %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <%= yield :messages %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= yield %>
        </div>
      </div>
    </section>

    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  </body>
</html>
