<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :page_title %></title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <section class="container">
      <% unless flash.empty? %>
        <div class="row">
          <div class="messages col-md-12">
            <% flash.each do |key, value| %>
              <% key = :danger if key == :error %>
              <%= content_tag(:div, value, class: "alert alert-#{key}") %>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="content-main col-md-12">
          <%= yield %>
        </div>
      </div>
    </section>

  </body>
</html>
